#form-user
{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:50%;
    margin-left:25%;
    background-color: orange;
    padding:25px;
    box-sizing: border-box;
}
#form-user>input[type="text"]
{
    width:75%;
    height: 25px;
    border:none;
}
#form-user>input[type="text"]:focus
{
    border:none;
    outline-color:orange;
    /* outline:none; */
}
#d_err
{
    color:red;
}
#d_msg
{
    color:greenyellow;
    font-size: 25px;

}
button
{
    width:120px;
    border:2px solid blueviolet;
    background-color: white;
    color: blueviolet;
    height:40px;
}
button:hover{
   
    background-color: blueviolet;
    color: white;
    border-color:white;
    box-shadow: 0px 0px 12px white;
    
}
