header
{
    height: 100px;
    width:100%;
    background-color: #067378;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:25px;
    padding-right:25px;
    box-sizing: border-box;
    color:white;

}
#person_name
{
    font-size:30px;
    font-weight: bold;
}
#intro
{
    width:75%;
    margin-left:12.5%;
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
    word-spacing: 12px;
    font-size:20px;
    line-height: 25px;
    color:gray;
}
.flex-box
{
    display: flex;
     width:75%;
    margin-left:12.5%;
}
.flex-box>div
{
    width:50%;
}
#show_skills_btn
{
    height:40px;
    width: 120px;
    background-color: rgb(136, 214, 58);
    border-radius:5px;
    font-size:20px;
    font-weight:bold;
}
#show_skills_btn:hover
{
    color: rgb(136, 214, 58);
    border-color: rgb(136, 214, 58);
    background-color: white;
}