#img_gallery
{
    width:500px;
    border:1px solid black;
}
#main_image
{
    width: 350px;
    height:350px;
}
#thumbnail_container
{
    display: flex;
    gap:5px;
}
#thumbnail_container>img
{
    height:90px;
    width:90px;
}
