header{
    height:100px;
    widht:100%;
    background-color: blueviolet;
    color:white;
    align-content: center;
    padding-left:25px;
}
.heading
{
    font-size:30px;
    
}
.sub-heading
{
    margin-top:10px;
    font-size:20px;
}
#main-section
{
    padding-left: 100px;
    padding-top:100px;
    
    background-color: rgb(207, 207, 250);
    display: flex;
    flex-direction:column;
    gap:20px;

}
.searchbox{
    width:50%;
    display: flex;
    margin-left:25%;

}
#station_search_box
{
height:40px;
width:70%;
outline:none;
border:none;
}
#btn_search
{
height:40px;
width:30%;
border:2px solid white;
}
ul
{
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:10px;
}
li{
    border:1px solid rgb(0, 0, 0);
    height:30px;
    align-content: center;
    width:85%;
}
.bg-green
{
    background-color: rgb(197, 245, 148);
}
.bg-red
{
    background-color: rgb(246, 167, 167);
}
.bg-orange
{
    background-color: rgb(247, 191, 85);
}